/* ==========================================================================
  CSS for Kana Master
  --
  Using Ygdir CSS conventions
  CSS conventions building upon BEM and ITCSS
   ========================================================================== */
/* ==========================================================================
  Reset
   ========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

/* Settings */
/* ==========================================================================
   Variables
   ========================================================================== */
/* Global variables - Prefixed with $g
   ========================================================================== */
/* Component settings - Use $g- variables to override component !default settings
   ========================================================================== */
/* Elements */
/* ==========================================================================
  Base
  Only base element styling
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #FFF;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1.6rem; }

/* Components */
/* ==========================================================================
  Block list
   ========================================================================== */
.c-block-list__item {
  padding: 2rem;
  border-bottom: 0.1rem solid #DDD; }

/* ==========================================================================
  Button
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Component
   ========================================================================== */
.c-button {
  padding: 0.8rem 1rem;
  line-height: 1.4;
  display: inline-flex;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  appearance: none;
  -webkit-appearance: none; }

.c-button.c-button--icon-only {
  padding: 0.8rem 0.8rem; }
  .c-button.c-button--icon-only .svg-icon {
    margin-top: 0;
    position: relative;
    top: 0.2rem; }

a.c-button {
  text-decoration: none;
  padding: 0.6rem 1rem; }

/* Button skins
   ========================================================================== */
.c-button--default {
  background: #DDD;
  color: #333; }

.c-button--ghost {
  background: transparent;
  border-color: transparent;
  color: #333; }

.c-button--primary {
  background: #3C7047;
  color: #FFF; }
  .c-button--primary:hover, .c-button--primary:focus {
    background: #4e915c; }
  .c-button--primary:active {
    background: #2a4f32; }

.c-button--link {
  color: #3C7047; }

.c-button .svg-icon {
  margin-top: 0.2rem; }

/* Button variants
   ========================================================================== */
.c-button--block {
  width: 100%; }

.c-button__label {
  flex: 1 0 auto;
  margin-left: 0.4rem; }

/* States
   ========================================================================== */
.c-button[disabled] {
  opacity: 0.4; }

.c-button__icon-only-wrap {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem; }

/* ==========================================================================
  c-character-grid
   ========================================================================== */
.c-character-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #FFF; }

.c-character-grid__item:nth-child(5n) {
  border-right-width: 0; }

.c-character-grid--digraphs {
  grid-template-columns: 1fr 1fr 1fr; }
  .c-character-grid--digraphs .c-character-grid__item:nth-child(5n) {
    border-right-width: 1px; }
  .c-character-grid--digraphs .c-character-grid__item:nth-child(3n) {
    border-right-width: 0; }

.c-character-grid__item {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #FFF; }

.c-character-grid__item a {
  padding: 1.5rem 1rem;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  color: #666;
  font-size: 1.4rem; }
  .c-character-grid__item a:first-line {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
    font-family: sans-serif; }

/* ==========================================================================
  Container
   ========================================================================== */
.c-container {
  width: 96rem;
  margin: 0 auto; }

/* ==========================================================================
  Content
   ========================================================================== */
.c-h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 1.6rem; }

.c-h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 1.6rem; }

.c-h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 1.6rem; }

.c-p {
  margin-bottom: 1.6rem; }

.c-ul {
  margin: 0 0 1.6rem 2.4rem; }

.c-ul > li {
  list-style: disc; }

.c-content h1 {
  font-size: 3.2rem;
  color: #000;
  margin: 0 0 1.6rem; }

.c-content h2 {
  font-size: 2.4rem;
  color: #000;
  margin: 0 0 1.6rem; }

.c-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 1.6rem; }

.c-content p {
  margin-bottom: 1.6rem; }

.c-content ul {
  margin: 0 0 1.6rem 2.4rem; }

.c-content li {
  list-style: disc; }

/* ==========================================================================
  c-content-area
   ========================================================================== */
.c-content-area {
  background: #FFF;
  flex: 1 1 auto;
  overflow: scroll;
  height: 100%; }

/* ==========================================================================
  c-input
   ========================================================================== */
.c-input {
  font-size: 1.6rem;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  padding: 0.6rem;
  background: #FFF;
  color: #333;
  border-radius: 0.4rem;
  border: 1px solid #BDBDBD; }

.c-input:focus {
  outline: 0;
  border-color: #3A75CB;
  box-shadow: 0 0 0 0.1rem #0E83FC;
  transition: 0.1s ease-in-out all; }

.c-input[disabled] {
  background: #EEE; }

.c-input--center {
  text-align: center; }

/* ==========================================================================
  Component: navbar
  ---
  A container for navigational elements
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Component
   ========================================================================== */
.c-navbar {
  padding: 0 2rem;
  height: 6.5rem;
  width: 100%;
  display: flex;
  align-items: center; }

.c-navbar--large {
  height: 9.5rem; }

.c-navbar--no-padding {
  padding: 0; }

.c-navbar--auto {
  height: auto; }

.c-navbar--white {
  background: #FFF; }

.c-navbar--alt {
  background: #EEE; }

/* Bordered equivalents
   ========================================================================== */
.c-navbar--bordered-top {
  border-top: 0.1rem solid #CCC; }

.c-navbar--bordered-bottom {
  border-bottom: 0.1rem solid #CCC; }

/* ==========================================================================
   c-scroll-context
   ========================================================================== */
.c-scroll-context {
  height: 100%;
  display: flex;
  flex-direction: column; }

.c-scroll-context > * {
  flex: 0 1 auto; }

@media (min-width: 900px) {
  html, body {
    background: #666; }
  body {
    display: flex; }
  .c-scroll-context {
    position: relative;
    height: 64rem;
    width: 37.5rem;
    margin: auto; } }

/* ==========================================================================
  c-segmented-control
  Used for links, for radio button behavior use c-segmented-control-radio
   ========================================================================== */
.c-segmented-control {
  width: 100%;
  display: flex; }

.c-segmented-control__item--stretch {
  flex: 1 0 auto; }

.c-segmented-control__item a {
  flex: 1 0 auto;
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  background: #DDD;
  border: 1px solid #CCC; }

.c-segmented-control__item:first-child a {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem; }

.c-segmented-control__item:last-child a {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem; }

.c-segmented-control__item--active a {
  background: #FFF; }

.c-segmented-control__item + .c-segmented-control__item a {
  border-left: none; }

/* ==========================================================================
  c-segmented-control-radio
  Used for radios, for link style behavior use c-segmented-control-radio
   ========================================================================== */
.c-segmented-control-radio {
  width: 100%;
  display: flex; }

.c-segmented-control-radio li {
  flex: 1 0 auto; }

.c-segmented-control-radio__item label {
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  background: #DDD;
  border: 1px solid #CCC;
  border-right: none; }

.c-segmented-control-radio__item--active label {
  background: #FFF; }

.c-segmented-control-radio__item input {
  opacity: 0;
  width: 0;
  appearance: none; }

.c-segmented-control-radio__item:first-child label {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem; }

.c-segmented-control-radio__item:last-child label {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-right: 1px solid #CCC; }

/* ==========================================================================
  c-tab-bar
   ========================================================================== */
.c-tab-bar {
  width: 100%; }

.c-tab-bar__icons {
  display: flex; }

.c-tab-bar__icons > li {
  flex: 1 0 33.3%; }

.c-tab-bar__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto 0.2rem; }

.c-tab-bar__icon svg {
  width: 2.4rem;
  height: 2.4rem; }

/* ==========================================================================
  c-toggle
  ---
  A mobile style on/off switch
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Toggle
   ========================================================================== */
.c-toggle {
  display: block;
  height: 2.4rem;
  position: relative;
  width: 4.2rem; }

.c-toggle__back {
  background-color: #CCC;
  border-radius: 1.2rem;
  bottom: 0;
  box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.08s linear; }

.c-toggle__knob {
  background-color: #FFF;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  content: '';
  height: 1.8rem;
  left: 0.3rem;
  pointer-events: none;
  position: absolute;
  top: 0.3rem;
  transition: transform 0.08s ease-in-out;
  width: 1.8rem; }
  .c-toggle__knob:after {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
    font-weight: 600;
    left: 100%;
    line-height: 1;
    position: absolute;
    top: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    width: 1.4rem; }

.c-toggle input[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  left: 0;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .c-toggle input[type='checkbox']:focus ~ .c-toggle__knob {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1); }
  .c-toggle input[type='checkbox']:checked ~ .c-toggle__knob {
    transform: translateX(1.6rem); }
    .c-toggle input[type='checkbox']:checked ~ .c-toggle__knob:after {
      left: auto;
      right: 100%; }
  .c-toggle input[type='checkbox']:checked ~ .c-toggle__back {
    background-color: #3C7047; }
  .c-toggle input[type='checkbox']:disabled {
    cursor: not-allowed; }
  .c-toggle input[type='checkbox']:disabled ~ .c-toggle__knob {
    opacity: 0.5; }
    .c-toggle input[type='checkbox']:disabled ~ .c-toggle__knob:after {
      content: ''; }
  .c-toggle input[type='checkbox']:disabled ~ .c-toggle__back {
    background-color: #DDD;
    box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.1); }

/* ==========================================================================
  c-toggle-list
   ========================================================================== */
.c-toggle-list {
  padding: 1rem 0; }

.c-toggle-list > li {
  padding: 1rem 0;
  display: flex; }

.c-toggle-list .c-toggle {
  margin-right: 1rem; }

/* ==========================================================================
  Component: Toolbar
  ---
  Component for aligning multiple sub components on a horizontal axis
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Component
   ========================================================================== */
.c-toolbar {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
  height: 4.8rem; }

.c-toolbar--spaced {
  padding: 0 2.4rem; }

.c-toolbar--auto {
  height: auto; }

.c-toolbar__left {
  z-index: 1;
  justify-content: flex-start; }
  .c-toolbar__left .c-toolbar__item {
    margin-right: 1.6rem; }
    .c-toolbar__left .c-toolbar__item:only-child {
      margin: 0; }

.c-toolbar__right {
  z-index: 1;
  justify-content: flex-end; }
  .c-toolbar__right .c-toolbar__item {
    margin-left: 1.6rem; }
    .c-toolbar__right .c-toolbar__item:only-child {
      margin: 0; }

.c-toolbar__left,
.c-toolbar__right {
  flex: 1 0 auto;
  display: flex;
  align-items: center; }

.c-toolbar__center {
  transform: translate(50%); }
  .c-toolbar__center .c-toolbar__item {
    position: relative;
    z-index: 2; }

.c-toolbar__center-inner {
  transform: translate(-50%);
  display: flex;
  flex: 1 0 auto;
  align-items: center; }
  .c-toolbar__center-inner .c-toolbar__item {
    margin: 0 0.8rem; }
    .c-toolbar__center-inner .c-toolbar__item:only-child {
      margin: 0; }

.c-toolbar__center--interactive {
  z-index: 2; }

.c-toolbar__center-inner--alt {
  margin-left: -100%; }

/* Specific children
   ========================================================================== */
.c-toolbar__title {
  font-weight: 600;
  font-size: 1.8rem; }

/* Justified toolbar
   ========================================================================== */
.c-toolbar__justified {
  flex: 1 0 auto;
  display: flex;
  align-items: center; }
  .c-toolbar__justified .c-toolbar__item {
    margin-right: 1.6rem; }

.c-toolbar__item--stretch {
  flex: 1; }

.c-toolbar__justified .c-toolbar__item:last-child {
  margin: 0; }

/* ==========================================================================
   c-validation-boxes
   ========================================================================== */
.c-validation-boxes {
  margin: 0 auto;
  text-align: center; }

.c-validation-boxes__box {
  width: 2rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.2rem; }

.c-validation-boxes__box--success {
  background: #3D7048; }

.c-validation-boxes__box--error {
  background: #B83D2F; }

/* Utilities */
/* ==========================================================================
  Utilities: Flex
   ========================================================================== */
.u-flex {
  display: flex; }

/* ==========================================================================
  u-spacer
  ---
  Spacing related utilities
   ========================================================================== */
.u-spacer {
  padding: 1.6rem; }

.u-mt {
  margin-top: 0.8rem; }

.u-mt-2 {
  margin-top: 1.6rem; }

.u-mt-3 {
  margin-top: 2.4rem; }

/* ==========================================================================
  u-display
  ---
  Display related utilities
   ========================================================================== */
.u-d-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*# sourceMappingURL=ygdir.css.map */